<h1>This is the page for the client $client.getName()</h1>

<form action="/stylists/$client.getStylistId()/tasks/$client.getId()" method="post">
  <button type="submit" class="btn btn-danger" id="delete-user">Delete user</button>
</form>
