<h1>Hair Salon</h1>


<h2>Stylist list</h2>

<ul>
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a></li>
  #end
</ul>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="stylistname">Stylist name</label>
  <input id="stylistname" name="stylistname" type="text">
  <button type="submit" class="btn btn-success">Add stylist</button>
</form>
